@import 'variables/_variables.scss';
@import 'variables/_breakpoints.scss';

.header-spacer {
  height: $nav-height;
  margin-bottom: 50px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: $nav-height;
  background: $black-color;  
  z-index: 99;
  .row {
    height: 100%;
    justify-content: space-between;
  }
  .logo {
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-right: 25px;
    svg {
      fill: $white-color;
      margin-right: 5px;
    }
  }
  nav {
    li {
      position: relative;
      padding: 5px;
      a {
        position: relative;
        &.active {
          &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background: $link-color;
            bottom: -4px;
            left: 0;
          }
        }
      }
    }
  }
  .history-link {
    position: absolute;
    top: $nav-height;
    left: 0;
    width: 100vw;
    padding: 10px;
    background: $link-color;
    color: $white-color;
    transition: all .3s ease-in-out;
    &:hover {
      background: $link-color;
      color: $white-color;
    }
    &.active {
      background: $link-color;
      color: $white-color; 
      &:after {
        content: '';
        position: absolute;
        bottom: -18px;
        left: 50%;
        width: 0; 
        height: 0; 
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        
        border-top: 20px solid $link-color;;
      }
    }
  }
}

.modal {
  position: fixed;
  top: $nav-height;
  height: calc(100vh -  $nav-height);
  width: 100vw;
  min-height: 0;
  padding-top: 60px;
  overflow: hidden;
  background: $black-color;
  border-top: 1px solid $link-color;
  transition: all .3s ease-in-out;
  z-index: 88;
  display: none;
  &.modal-active {
    display: block;
    min-height: 90vh;
  }
  .modal-wrapper {
    height: 85vh;
    overflow-y: scroll;
  }
  .modal-inner {
    padding: 15px;
  }
  .modal-artists {
    li {
      a {
        display: block;
        padding: 5px 5px 5px 10px;
        border: 1px solid $white-color;
        margin-bottom: 2px;
        transition: all .3s ease-in-out;
        &:hover {
          background: $white-color;
        }
      }
    }
  }
  .artist-title {
    width: 100%;
    padding: 5px;
    border: 1px solid $white-color;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}

// ----------------- //
// -- BREAKPOINTS -- //
// ----------------- //

// 480PX
@include breakpoint-sm {
  header {
    nav {
      li {
        padding: 15px;
      }
    }
  }
}

// 720PX
@include breakpoint-md {
  header {
    margin-bottom: 0;
    .row {
      justify-content: flex-start;
    }
    .history-link {
      position: relative;
      top: 0;
      width: auto;
      margin-left: auto;
      margin-right: 20px;
      padding: 10px 50px;
      border: 2px solid $link-color;
      background: transparent;
      &.active {
        transform: translate(-15px, 23px);
      }
    }
  }

  .modal {
    padding-top: 25px;
    .modal-inner {
      padding: 15px;
    }
    .modal-artists {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      li {
        width: 33%;
      }
    }
  }
}

// 960PX
@include breakpoint-lg {
  .modal {
    .modal-artists {
      li {
        width: 24%;
      }
    }
  }
}