<app-search></app-search>
<div class="artists card-wrapper row" *ngIf="searchValue; else emptyTemplate">
  <ng-container *ngFor="let list of artistList | keyvalue: originalOrder">
    <div class="card" *ngIf="list.value.image && list.value.name">
      <a [href]="['/artist/'+list.value.id]" [routerLink]="['/artist/'+list.value.id]" class="card-inner">
        <div class="media-wrapper">
          <img [src]='list.value.image' [alt]="list.value.name">
        </div>
        <div class="content">
          <p class="card-title">{{list.value.name}}</p>
          <ul class="card-genres row">
            <li *ngFor="let genre of list.value.genres">
              {{ genre }}
            </li>
          </ul>
        </div>
      </a>
    </div>
  </ng-container>
</div>
<ng-template #emptyTemplate>
  <div class="artists row">
    <h2>No resualts for .... {{ searchOriginalValue }}</h2>
  </div>
</ng-template>