.app {
  width: 100%;
  min-height: 100vh;
  background: $primary-color;
}

.card-wrapper {
  justify-content: center;
  align-items: stretch;
  .card {
    display: block;
    width: 250px;
    margin: 25px 10px;
    
    .card-inner {
      display: flex;
      flex-flow: column wrap;
      height: 100%;
      width: 100%;
      padding: 15px;
      color: $white-color;
      background: $secondary-color;
      transition: background .3s ease-in-out;
      .content {
        display: flex;
        flex: 2;
        flex-flow: column wrap;
        padding: 10px;
      }
      .btn {
        margin-top: auto;
      }
    }
    a {
      &.card-inner {
        &:hover {
          background: lighten($secondary-color, 10);
        }
      }
    }
    &-title {
      font-weight: bold;
    }
    &-genres {
      li {
        color: $placeholder-color;
        padding: 2px 5px;
        margin: 2px;
        border: 1px solid $placeholder-color;
      }
    }
  }
}


// Albums
.artist-stacks {
  margin-top: -50px;
  .row {
    flex-flow: column wrap;
  }
  .album-details {
    position: relative;
    margin-bottom: 50px;
    z-index: 1;
    padding: 25px 15px;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      margin-left: calc((-100vw + 100%) / 2);
      background-color: $secondary-color;
      z-index: -1;
    }
    .album-image {
      width: 200px;
      border-radius: 50%;
      margin: 0 0 20px;    
    }
    .album-content {
      > * {
        margin: 0;
        padding: 0;
      }
    }
  }
  .track-list {
    margin: 0 auto;
    .row {
      margin-bottom: 15px;
      padding: 10px 0;
      border-bottom: 1px solid $border-color;
    }
  }
}


// ----------------- //
// -- BREAKPOINTS -- //
// ----------------- //

// 720PX
@include breakpoint-md {
  .artist-stacks {
    .row {
      flex-flow: row wrap;
    }
    .album-details {
      .album-image {
        margin: 0 50px 0 0;
      }
    }

    .track-list {
      padding: 0 50px;
      max-width: 900px;
      margin: 0 auto;
      .row {
        justify-content: space-between;
        margin-bottom: 15px;
        padding: 20px;
        border-bottom: 1px solid $border-color;
      }
    }
  }
}